/* -- Bootstrap missing -- */

.text-justify { /* Oui je sais Bootstrap ne veut plus l'utiliser mais moi je préfère. */
    text-align: justify;
}

.cursor-pointer {
    cursor: pointer;
}

/* -- Keyframes -- */

@keyframes spin {
    0% {transform: rotate3d(0,1,0,0deg);}
    20% {transform: rotate3d(0,1,0,359deg);}
    40% {transform: rotate3d(0,1,0,0deg);}
    60% {transform: rotate3d(0,1,0,359deg);}
    80% {transform: rotate3d(0,1,0,0deg);}
    100% {transform: rotate3d(0,1,0,359deg);}
}

.spin {
    animation: spin 1s linear;
}

/* -- Header -- */

header {
    background-color: blue;
}

/* -- Main -- */

main {
    min-height: 35em;
}

/* -- Backgrounds -- */

.bg-dark-grey {
    background-color: #222;
}

.gradient-red {
    background: linear-gradient(120deg, red, black);
}

.gradient-blue {
    background: linear-gradient(120deg, blue, black);
}

.gradient-green {
    background: linear-gradient(120deg, green, black);
}

.gradient-yellow {
    background: linear-gradient(120deg, yellow, black);
}

.gradient-orange {
    background: linear-gradient(120deg, orange, black);
}

.gradient-cyan {
    background: linear-gradient(120deg, cyan, black);
}

.gradient-purple {
    background: linear-gradient(120deg, purple, black);
}

/* ---- Front page ---- */

.site-title-dv {
    background: linear-gradient(120deg, grey, black);
}
.site-title-dv > * {
    width: 50%;
}

.section-articles .card {
    width: 20em;
    cursor: pointer;
    transition-duration: 0.5s;
}
.section-articles .card:hover {
    transform: scale(1.025);
}

.card-img {
    width: 100%;
    aspect-ratio: 0.75;
    object-fit: cover;
}

.section-articles h3 {
    height: 2.75em;
}

.section-articles date {
    color: lightgray;
}

/* ---- Description ---- */

.item-description {
    height: 55em;
}

.item-description article {
    width: 75em;
}

.item-description article img {
    height: 27em;
    aspect-ratio: 0.75;
    object-fit: cover;
}

/* -- Footer -- */

footer {
    background-color: darkblue;
}
